## 파일 무시
awsAuth.properties
postgreInfo.properties
## 다음과 같은 확장자는 전체 무시

## 폴더 무시
target/
ZeroNine/.idea/.gitignore
ZeroNine/.idea/compiler.xml
ZeroNine/.idea/jarRepositories.xml
ZeroNine/.idea/misc.xml
ZeroNine/.idea/vcs.xml
