@charset "UTF-8";

#detail_modal_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed; /* Stay in place */
	z-index: 101; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
	justify-content: center;
	align-items: center;
}

#detail_modal_body {
	width: 1100px;
	padding: 30px;
	border: 1px solid #777;
	background-color: #fff;
	border-radius: 15px;
}
.detail_body {
	display: flex;
	flex-direction: column;
}

#modal_wrap p {
	text-align: center;
	font-size: 25px;
}

.detail_chn_area {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: Lato;
}

.cart {
	height: 25px;
	width: 27px;
}

.detail_pro_detail {
	width: 670px;
	height: auto;
	margin-left: 60px;
}

.detail_pro_detail span {
	margin-left: 10px;
	font-family: Lato;
	font-size: 15px;
}

.detail_pro_detail li {
	margin: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#close_btn img {
	width: 20px;
	height: 20px;
	margin-left: 1000px;
}

p.title {
	font-family: Jua;
	font-size: 30px;
}

p.content {
	font-size: 20px;
}

.detail_img {
	border-radius: 15px;
	width: 250px;
	height: 250px;
	width: 250px;
}
.update_btn_div {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
}
.update_btn {
	font-size: 25px;
	color: white;
	border-radius: 15px;
	width: 116px;
	height: 50px;
	border: 1px solid;
	background-color: #0083E6;
}
.delete_btn {
	font-size: 25px;
	border-radius: 15px;
	width: 116px;
	height: 50px;
	color: #0083E6;
    border: 1px solid #0083E6;
    background: #FFF;
}
.detail_img {
	width: 340px;
	height: 340px;
	border-radius: 15px;
}