@charset "UTF-8";

.pickup_history_wrap .btn_blue {
    font-size: 11px;
}
 .contents.pickup_history_wrap .tbl_wrap table tbody td {
    padding: 10px 15px;
    border-right: 0px;
}
.dashboard_th{
	border-top: 1px solid black;
	height: 250px;
}

.bCanvas{
	position : relative;
	height: 225px;
    width: 450px;
}

.dCanvas{
	position : relative;
	height: 235px;
    width: 235px;
}

#myDoughnutChart{
	margin-left: 26px;
}

.dashboard_th tr:nth-child(1) td{
	border-bottom: 0px;
	height: 50px;
	font-family: Jura;
	font-size: 14px;
}

.eco_level{
	margin-left: 14px;
}

.eco_level span:nth-child(2){
	font-size : 20px;
	color : red;
	font-weight: bold;
}

.tbl_pickup_request_wrap tbody tr {
	border-bottom: 1px solid #B7B7B7;
}

.tbl_pickup_request_wrap tbody td img{
	width: 270px;
}

.tbl_pickup_request_wrap td{
	font-family: Jura;
	font-size : 16px;
}

.title{
	text-align : left;
	font-size: 20px;
	font-family: Jua;
}

.mid_title{
	text-align : left;
	font-size : 14px;
	padding-top : 10px;
}

.ann{
	text-align : left;
	font-size: 12px;
	padding-top: 5px;
}

.contents .tbl_wrap table td{
	font-size: 15px;
}

.eco_level span:nth-child(1),.eco_level span:nth-child(3){
	font-size: 14px;
} 