@charset "UTF-8";

/*******************************************
	mypage_myCart(장바구니)
*******************************************/
.contents_wrap .free_delivery_amount {
    margin: 60px 0 25px;
}
.contents_wrap .target_amount {
	position: relative;
    width: 360px;
	height: 20px;
	margin: 0 auto;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	overflow: hidden;
}
.contents_wrap .now_amount {
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 100%;
	border-radius: 10px;
	background-color: #0083E6;
}
.contents_wrap .text {
    text-align: center;
    margin-top: 15px;
    font-family: "Inter";
    font-weight: bold;
    font-size: 16px;
}
.my_cart_wrap .product_count select {
    width: 57px;
    height: 28px;
    font-size: 13px;
    border: 1px solid #B7B7B7;
    padding: 0 10px;
    outline: none;
    border-radius: 5px;
    color: #000;
    font-family: "Jura";
}
.my_cart_wrap .purchase_selection button {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    line-height: 1.5;
    font-size: 14px;
}
.my_cart_wrap .purchase_selection .btn_default {
    padding-left: 24px;
    color: #747774;
    font-size: 13px;
	background-repeat: no-repeat;
    background-position: 28px center;
}
.my_cart_wrap .purchase_selection .btn_addlike {
	background-image: url("../../images/mypage/ico_like.png");
	background-size: 16px 15px;
}
.my_cart_wrap .purchase_selection .btn_del {
	background-image: url("../../images/mypage/ico_delete.png");
    background-size: 17px 17px;
}
.my_cart_wrap .buy_price_wrap {
	margin-top: 80px;
} 
.my_cart_wrap .buy_price_wrap .price_top {
	display: flex;
	border-top: 2px solid #0083E6;
}
.my_cart_wrap .buy_price_wrap .price_info {
	flex: 1;
	padding: 28px 0;
	text-align: center;	
}
.my_cart_wrap .price_top .delivery_fee {
 	position: relative;
    border-left: 1px solid #E6E6E6;
}
.my_cart_wrap .price_top .delivery_fee:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -23px;
	width: 46px;
	height: 46px;
	margin-top: -23px;
	background: #fff url("../../images/mypage/ico_plus.png") no-repeat center / contain;
}
.my_cart_wrap .price_top .price_info > div:nth-of-type(1) {
	margin-bottom: 10px;
	color: #747774;
	font-family: "Jura";
	font-weight: bold;
	font-size: 15px;
}
.my_cart_wrap .price_top .price_info > div:nth-of-type(2) {
	font-family: "Lato";
	font-weight: 600;
	font-size: 18px;
}
.my_cart_wrap .buy_price_wrap .price_bottom {
	display: flex;
    align-items: flex-end;
    justify-content: center;
	padding: 48px 0;
	background-color: #F6F6F6;
	border-top: 2px solid #D6D6D6;
	border-bottom: 2px solid #D6D6D6;
}
.my_cart_wrap .price_bottom .noti {
	position: relative;
	margin-right: 50px;
	padding-left: 30px;
    line-height: 23px;
	color: #888E8E;
	font-family: "Lato";
	font-size: 14px;
}
.my_cart_wrap .price_bottom .noti::before {
	content:"";
	position: absolute;
	top: -2px;
	left: 0;
	width: 23px;
	height: 23px;
	background: url("../../images/mypage/ico_noti.png") no-repeat center / contain ;
}
.my_cart_wrap .price_bottom .expected_payment {
	font-family: "Jura";
	font-size: 20px;
	font-weight: 600;
}
.my_cart_wrap .price_bottom .expected_payment span {
	color: #FF2828;
	font-family: "Lato";
} 
.my_cart_wrap .buy_price_wrap .btn_wrap {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 86px;
}
.my_cart_wrap .buy_price_wrap .btn_wrap button {
    height: 56px;
	min-width: 220px;
	padding: 0;
    border-radius: 10px;
    line-height: 1;
    font-size: 22px;
}
.my_cart_wrap .buy_price_wrap .all_order {
	color: #fff;
	background: #0083E6;
}






















