@charset "UTF-8";

/* mypage_myWallet */
.contents .wallet_wrap .tbl_wrap td {
    padding: 30px 15px;
	font-family: "Lato";
}
.wallet_wrap .product_info > div {
	display: flex;
	align-items: center;
}
.wallet_wrap .product_info .img_wrap {
	flex-shrink: 0;
	width: 200px;
	height: 200px;
	border-radius: 15px;
	overflow: hidden;
}
.wallet_wrap .product_info .detail {
	margin-left: 20px;
	text-align: left;
}
.wallet_wrap .product_info .detail li {
	margin-bottom: 15px;
}
.wallet_wrap .product_info .detail .product_name {
	color: #444;
}
.wallet_wrap .order_status > div {
	margin-top: 10px;
}
.wallet_wrap .order_status .btn_orange_underline {
	font-family: "Lato";
	font-weight: bold;
}