@charset "UTF-8";

/* mypage_myWallet */
 .product_info > div {
 	display: flex;
    align-items: center;
 }
 .product_info .img_wrap {
 	width: 200px;
 	height: 200px;
 	border-radius: 15px;
 	overflow: hidden;
}
 .product_info .detail {
 	margin-left: 20px;
    text-align: left;
 }
 .product_info .detail li {
 	margin-bottom: 15px;
 }
 .purchase_decision button {
 	border-radius: 10px;
 	border: 1px solid #0083E6;
 	color: #0083E6;
 	padding: 5px 10px;
 	fonr-size: 15px;
 }