<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zeronine.board">
<select id="myWriteBlist" resultType="boardVo" parameterType="String">
SELECT b.* FROM public.board b join public.customer c on (b."authorId" = c."customerId") where b."authorId" = cast(#{customerId} as UUID) and b."finishTime">NOW() order by b."uploadTime";
</select>
<select id="getRemainTime" resultType="String" parameterType="String">
select to_char(b."finishTime"-NOW(),'dd일 HH시 mi분 ss초')
FROM public.board b join public.customer c on (b."authorId" = c."customerId") where b."authorId" = cast(#{customerId} as UUID) and b."finishTime">NOW() order by b."uploadTime";
</select>
</mapper>