<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zeronine.chat">
	<select id="selectChatList" parameterType="String" resultType="chatVO">
	SELECT
		*
	FROM (
	--내가 작성한 글의 채팅 목록
		SELECT
			 "oneToOneBoard"."oBoardId" AS "boardId"
			,"chat"."chatId"
			,"oneToOneBoard"."oTitle"
			,"oneToOneBoard"."oAuthorId"
			,"customer"."customerName"
			,"customer"."customerId"
			,"oneToOneBoard"."address" || ' ' || "oneToOneBoard"."addressDetail" AS "address"
			,TO_CHAR("oneToOneBoard"."finishTime", 'YYYY-MM-DD HH24:MI:SS') AS "finishTime"
			, CASE 
		        WHEN "oneToOneBoard"."oPostingMinutes" = 0 THEN 'D-day 0'
		        ELSE 'D-' || FLOOR("oneToOneBoard"."oPostingMinutes" / 1440) 
		    END AS "day"
			,TO_CHAR("message"."sendTime", 'YYYY-MM-DD HH24:MI:SS') AS "sendTime"
			,"oBoardImage"."oBoardImagePath" AS "path"
			,"message"."messageContent"
			,TO_CHAR("chat"."createTime", 'YYYY-MM-DD HH24:MI:SS') AS "createTime"
		FROM "oneToOneBoard"
		INNER JOIN "chat"
			ON "oneToOneBoard"."oBoardId" = "chat"."oBoardId"
		INNER JOIN "customer"
			ON "chat"."customerId" = "customer"."customerId"
		LEFT JOIN "oBoardImage"
			ON "oneToOneBoard"."oBoardId" = "oBoardImage"."oBoardId"
		LEFT JOIN (
			SELECT
				 "chatId"
				,"messageContent"
				,"sendTime"
				,ROW_NUMBER() OVER(PARTITION BY "chatId" ORDER BY "sendTime" DESC) AS "rowNum"
			FROM "message"
		) "message"
			ON "chat"."chatId" = "message"."chatId"
			AND "message"."rowNum" = 1
		WHERE "oneToOneBoard"."oAuthorId" = cast(#{customerId} as uuid)
		
		UNION
		
		-- 상대방이 작성한 글에 채팅중인 목록
		SELECT
			 "oneToOneBoard"."oBoardId" AS "boardId"
			,"chat"."chatId"
			,"oneToOneBoard"."oTitle"
			,"oneToOneBoard"."oAuthorId"
			,"customer"."customerName"
			,"customer"."customerId"
			,"oneToOneBoard"."address" || ' ' || "oneToOneBoard"."addressDetail" AS "address"
			,TO_CHAR("oneToOneBoard"."finishTime", 'YYYY-MM-DD HH24:MI:SS') AS "finishTime"
			, CASE 
		        WHEN "oneToOneBoard"."oPostingMinutes" = 0 THEN 'D-day 0'
		        ELSE 'D-' || FLOOR("oneToOneBoard"."oPostingMinutes" / 1440) 
		    END AS "day"
			,TO_CHAR("message"."sendTime", 'YYYY-MM-DD HH24:MI:SS') AS "sendTime"
			,"oBoardImage"."oBoardImagePath" AS "path"
			,"message"."messageContent"
			,TO_CHAR("chat"."createTime", 'YYYY-MM-DD HH24:MI:SS') AS "createTime"
		FROM "chat"
		INNER JOIN "oneToOneBoard"
			ON "chat"."oBoardId" = "oneToOneBoard"."oBoardId"
		INNER JOIN "customer"
			ON "chat"."customerId" = "customer"."customerId"
		LEFT JOIN "oBoardImage"
			ON "oneToOneBoard"."oBoardId" = "oBoardImage"."oBoardId"
		LEFT JOIN (
			SELECT
				 "chatId"
				,"messageContent"
				,"sendTime"
				,ROW_NUMBER() OVER(PARTITION BY "chatId" ORDER BY "sendTime" DESC) AS "rowNum"
			FROM "message"
		) "message"
			ON "chat"."chatId" = "message"."chatId"
			AND "message"."rowNum" = 1
		WHERE "chat"."customerId" = cast(#{customerId} as uuid)
	) TBL
	ORDER BY 
		CASE
	        WHEN TBL."sendTime" IS NOT NULL THEN TBL."sendTime"
	        ELSE TBL."createTime"
	    END DESC,
	    "createTime" DESC
	</select>
	
	<select id="selectChatDtlList" parameterType="String" resultType="chatDtlVO">
	SELECT
		 "chat"."chatId"
		,"message"."senderId"
		,"message"."messageContent"
		,TO_CHAR("message"."sendTime", 'YYYY-MM-DD HH24:MI:SS') AS sendTime
		,"customer"."customerName"
	FROM "chat"
	INNER JOIN "message"
		ON "chat"."chatId" = "message"."chatId"
	INNER JOIN "customer"
		ON "message"."senderId" = "customer"."customerId"
	WHERE "chat"."chatId" = cast(#{chatId} AS uuid)
	ORDER BY "message"."sendTime"
	</select>
	
	<insert id="insertChatInfo" parameterType="chatVO">
		INSERT INTO "chat"(
			 "chatId"
			,"customerId"
			,"oBoardId"
			,"createTime"
		) VALUES (
			 cast(#{chatId} AS uuid)
			,cast(#{customerId} AS uuid)
			,cast(#{boardId} AS uuid)
			,CURRENT_TIMESTAMP
		)
	</insert>
	
	<insert id="insertMessageInfo" parameterType="messageVo">
		INSERT INTO "message"(
			 "messageId"
			,"chatId"
			,"senderId"
			,"sendTime"
			,"messageContent"
		) VALUES (
			 cast(#{messageId} AS uuid)
			,cast(#{chatId} AS uuid)
			,cast(#{senderId} AS uuid)
			,CURRENT_TIMESTAMP
			,#{messageContent}
		)
	</insert>
	
	<select id="selectChatDtlInfo" parameterType="String" resultType="chatDtlVO">
	SELECT
		 "chat"."chatId"
		,"oneToOneBoard"."address" || ' ' || "oneToOneBoard"."addressDetail" AS "address"
		,"oneToOneBoard"."oTitle" AS "title"
		,"oBoardImage"."oBoardImagePath" AS "productImagePath"
		,"customer"."customerName"
		,"chat"."customerId" AS "otherCustomerId"
	FROM "chat"
	INNER JOIN "oneToOneBoard"
		ON "chat"."oBoardId" = "oneToOneBoard"."oBoardId"
	INNER JOIN "customer"
		ON "chat"."customerId" = "customer"."customerId"
	LEFT JOIN "oBoardImage"
		ON "oneToOneBoard"."oBoardId" = "oBoardImage"."oBoardId"
	WHERE "chat"."chatId" = cast(#{chatId} AS uuid)
	</select>
	
	<delete id="deleteChatInfo" parameterType="String">
		DELETE FROM "chat" WHERE "chat"."chatId" = cast(#{chatId} AS uuid)
	</delete>
	
	<select id="findChatId" parameterType="String" resultType="String">
	SELECT
		 "chat"."chatId"
	FROM "chat"
	WHERE "chat"."oBoardId" = cast(#{oBoardId} AS uuid)
	</select>
</mapper>