<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zeronine.chat">
	<select id="selectChatList" parameterType="String" resultType="chatVO">
		SELECT 
			"chat"."chatId"
		   ,"chat"."customerId" AS "chatCustId"
		   ,"oTB"."oAuthorId" AS "authorCusId"
		   ,"chatCustomer"."customerName" AS "chatCustName"
		   ,"authorCustomer"."customerName" AS "authorCustName"
		   ,"oTB"."oBoardId" AS "boardId"
		   ,"oTB"."oTitle" AS "boardTitle"
		   ,"oTB"."address"
		   ,"oTB"."addressDetail" AS "addrDetail"
		   ,TO_CHAR("oTB"."finishTime", 'YYYY-MM-DD HH24:MI:SS') AS "finishTime"
		   , CASE 
				WHEN "oTB"."oPostingMinutes" = 0 THEN 'D-day 0'
				ELSE 'D-' || FLOOR("oTB"."oPostingMinutes" / 1440) 
			END AS "remainingDays"
			,TO_CHAR("message"."sendTime", 'YYYY-MM-DD HH24:MI:SS') AS "sendTime"
			,"oBoardImage"."oBoardImagePath" AS "productImagePath"
			,"message"."messageContent"
			,TO_CHAR("chat"."createTime", 'YYYY-MM-DD HH24:MI:SS') AS "createTime"
		FROM "chat" 
		JOIN "customer" AS "chatCustomer" 
			ON "chat"."customerId" = "chatCustomer"."customerId"
		LEFT OUTER JOIN "oneToOneBoard" AS "oTB" 
			ON "chat"."oBoardId" = "oTB"."oBoardId"
		LEFT OUTER JOIN "customer" AS "authorCustomer"
			ON "oTB"."oAuthorId" = "authorCustomer"."customerId"
		LEFT JOIN "oBoardImage"
			ON "oTB"."oBoardId" = "oBoardImage"."oBoardId"
		LEFT JOIN (
					SELECT
						 "chatId"
						,"messageContent"
						,"sendTime"
						,ROW_NUMBER() OVER(PARTITION BY "chatId" ORDER BY "sendTime" DESC) AS "rowNum"
					FROM "message"
				) AS "message"
			ON "chat"."chatId" = "message"."chatId"
		AND "message"."rowNum" = 1
		WHERE "oTB"."oAuthorId" = cast(#{chatId} AS uuid)
		OR "chat"."customerId" = cast(#{chatId} AS uuid)
		ORDER BY 
			CASE
				WHEN "message"."sendTime" IS NOT NULL THEN "message"."sendTime"
				ELSE "chat"."createTime"
			END DESC,
			"chat"."createTime" DESC;
	</select>
	
	<select id="selectChatDtlList" parameterType="String" resultType="chatDtlVO">
	SELECT
		 "chat"."chatId"
		,"message"."senderId"
		,"message"."messageContent"
		,TO_CHAR("message"."sendTime", 'YYYY-MM-DD HH24:MI:SS') AS sendTime
		,"customer"."customerName"
	FROM "chat"
	INNER JOIN "message"
		ON "chat"."chatId" = "message"."chatId"
	INNER JOIN "customer"
		ON "message"."senderId" = "customer"."customerId"
	WHERE "chat"."chatId" = cast(#{chatId} AS uuid)
	ORDER BY "message"."sendTime"
	</select>
	
	<insert id="insertChatInfo" parameterType="chatVO">
		INSERT INTO "chat"(
			 "chatId"
			,"customerId"
			,"oBoardId"
			,"createTime"
		) VALUES (
			 cast(#{chatId} AS uuid)
			,cast(#{chatCustId} AS uuid)
			,cast(#{boardId} AS uuid)
			,CURRENT_TIMESTAMP
		)
	</insert>
	
	<insert id="insertMessageInfo" parameterType="messageVo">
		INSERT INTO "message"(
			 "messageId"
			,"chatId"
			,"senderId"
			,"sendTime"
			,"messageContent"
		) VALUES (
			 cast(#{messageId} AS uuid)
			,cast(#{chatId} AS uuid)
			,cast(#{senderId} AS uuid)
			,CURRENT_TIMESTAMP
			,#{messageContent}
		)
	</insert>
	
	<select id="selectChatDtlInfo" parameterType="java.util.Map" resultType="chatDtlVO">
		SELECT
			 "chat"."chatId"
			,"oneToOneBoard"."address" || ' ' || "oneToOneBoard"."addressDetail" AS "address"
			,"oneToOneBoard"."oTitle" AS "title"
			,"oBoardImage"."oBoardImagePath" AS "productImagePath"
		    ,"chat"."customerId" AS "chatCustId"
		    ,"oneToOneBoard"."oAuthorId" AS "authorCustId"
		    ,"chatCustomer"."customerName" AS "chatCustName"
		    ,"authorCustomer"."customerName" AS "authorCustName"
		    ,"message"."lastTalkerId"
		FROM "chat"
		INNER JOIN "oneToOneBoard"
			ON "chat"."oBoardId" = "oneToOneBoard"."oBoardId"
		LEFT JOIN "oBoardImage"
			ON "oneToOneBoard"."oBoardId" = "oBoardImage"."oBoardId"
		JOIN "customer" AS "chatCustomer" 
			ON "chat"."customerId" = "chatCustomer"."customerId"
		LEFT OUTER JOIN "customer" AS "authorCustomer"
			ON "oneToOneBoard"."oAuthorId" = "authorCustomer"."customerId"
		LEFT JOIN (
			SELECT
				 "chatId"
				,"messageContent"
				,"sendTime"
				,"senderId" AS "lastTalkerId"
				,ROW_NUMBER() OVER(PARTITION BY "chatId" ORDER BY "sendTime" DESC) AS "rowNum"
			FROM "message"
		) AS "message"
			ON "chat"."chatId" = "message"."chatId"
			AND "message"."rowNum" = 1
		WHERE "chat"."chatId" = cast(#{chatId} AS uuid)
	</select>
	
	<delete id="deleteChatMessages" parameterType="String">
		DELETE FROM "message" WHERE "message"."chatId" = cast(#{chatId} AS uuid)
	</delete>
	
	<delete id="deleteChatRoom" parameterType="String">
		DELETE FROM "chat" WHERE "chat"."chatId" = cast(#{chatId} AS uuid)
	</delete>
	
	<select id="findOAuthorId" parameterType="String" resultType="String">
	SELECT
		 "oneToOneBoard"."oAuthorId"
	FROM "oneToOneBoard"
	WHERE "oneToOneBoard"."oBoardId" = cast(#{oBoardId} AS uuid)
	</select>
	
	<select id="findChatId" parameterType="java.util.Map" resultType="String">
	SELECT
		 "chat"."chatId"
	FROM "chat"
	WHERE "chat"."oBoardId" = cast(#{oBoardId} AS uuid)
	AND "chat"."customerId" = cast(#{customerId} AS uuid)
	</select>
</mapper>