@charset "UTF-8";

.join_wrap h1 {
	display: flex;
	font-size: 40px;
	justify-content: center;
	margin-top: 93px;
	justify-content: center;
}

.join_container {
	width: 694px;
	height: 920px;
	border-radius: 16px;
	border: 1px solid #B7B7B7;
	margin-top: 52px;
}

.join_container span {
	color: #F40;
	font-family: "Jura";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
}

.join_container label {
	width: 120px;
	color: #666;
	font-family: "Jura";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
}

.form_group {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-left: 50px;
}

.join_container div:nth-of-type(1) {
	margin-top: 50px;
}

.join_container div:nth-of-type(6) input:nth-of-type(2) {
	margin-top: 20px;
}

.join_container input {
	width: 400px;
	height: 40px;
	border-radius: 15px;
	border: 1px solid #CCC;
	background: #FFF;
	font-size: 16px;
	font-family: "Lato";
}

.join_address {
	width: 350px !important;
}

.join_address_detail {
	margin-left: 120px;
}

input::placeholder {
	color: #BBB;
	font-family: "Lato";
	font-size: 16px;
	font-style: normal;
	padding-left: 10px;
}

.double_check_btn {
	width: 70px;
	height: 40px;
	border-radius: 15px;
	border: 1px solid #0083E6;
	background: #FFF;
	color: #0083E6;
	font-size: 16px;
	margin-left: 10px;
}

.address_search_btn {
	width: 120px;
	height: 40px;
	border-radius: 15px;
	border: 1px solid #0083E6;
	background: #FFF;
	margin-left: 10px;
	color: #0083E6;
	font-size: 16px;
	font-style: normal;
}

.agree_tit {
	margin-left: 50px;
	margin-top: 37px;
	color: #666;
	font-family: "Jura";
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
}

.agree_container hr:nth-of-type(1) {
	width: 43%;
	border: 1px solid #888;
	margin-left: 35px;
	margin-top: 17px;
}

.agree_container hr:nth-of-type(2) {
	width: 43%;
	border: 1px solid #DDD;
	margin-left: 35px;
	margin-top: 17px;
}

input[type="checkbox"] {
	width: 18px;
	height: 18px;
}

.agree_tot p {
	color: #555;
	font-family: "Jura";
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
}

.agree_tot {
	display: flex;
	margin-left: 61px;
	margin-bottom: 25px;
}

.agree_tot input {
	margin-right: 5px;
	margin-top: 3px;
}

.agree_part input {
	margin-left: 70px;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	width: 15px;
}

.agree_part p {
	display: inline-block;
	color: #999;
	font-family: "Lato";
	font-size: 16px;
	font-style: normal;
}


#join_btn {
	width: 160px;
	height: 50px;
	border-radius: 15px;
	background: #0083E6;
	color: #FFF;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
}