@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jua&family=Jura:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "normalize.css";
@import "reset.css";

/*** COMMON ***********************/
html, body {
	height: 100%;
}
.zn_center {
    width: 1440px;
    margin: 0 auto;
}
.img_wrap img {
	display: block;
	width: 100%;
}
.calendar {
	width: 220px;
}
.calendar input {
	width: 100%;
	padding: 0 39px 0 15px;
	background-image: url("../../images/common/ico_calendar.png");
	background-repeat: no-repeat;
    background-position: 186px center;
	background-size: 24px 24px;
}

/* HEADER */
.zn_header {
	position: relative;
	z-index: 100;
	background-color: #fff;
    box-shadow: 0px 2px 7px rgba(147, 147, 147, 0.1);
    transition: 0.3s;
}
.zn_header.on {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.zn_header .top {
	border-bottom: 1px solid #e5e5e5;
}
.zn_header .top.on {
	display: none;
}
.zn_header .top .top_inner {
	padding: 30px 10px;
}
.zn_header .top .member {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 20px;
}
.zn_header .top .member ul {
	display: flex;
	gap: 15px;
}
.zn_header .top .member ul li {
	position: relative;
}
.zn_header .top .member ul li a {
	color: #666;
	font-size: 13px;
}
.zn_header .top .member ul li a:hover,
.zn_header .top .member ul li a:focus {
	color: #535353;
}
.zn_header .top .member ul li::before {
	content: "";
	position: absolute;
	top:50%;
	left: -7px;
	width: 1px;
	height: calc(100% - 6px);
	background: #666;
	transform: translateY(-50%);
}
.zn_header .top .member ul li:first-child::before {
	content: none;
}
.zn_header .top .logo {
	text-align: center;
}
.zn_header .top .logo h1 {
	display: inline-block;
}
.zn_header .top .logo a {
	display: block;
	width: 128px;
	height: 36px;
	background: url(../../images/ecomall/logo.svg) no-repeat center / contain;
}
.zn_header .bot .bot_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
} 
.zn_header .bot .gnb_1depth,
.zn_header .bot .user_fav ul {
	display: flex;
}
.zn_header .bot .gnb_1depth > li {
	position: relative;
	padding: 13px 40px;
}
.zn_header .bot .gnb_1depth > li > a {
	display:inline-block;
	font-size: 17px;
	padding: 10px;
}
.zn_header .bot .gnb_1depth > li a:hover,
.zn_header .bot .gnb_1depth > li a:focus,
.zn_header .bot .gnb_1depth > li.on > a {
	color: #0F82FF;
}
.zn_header .bot .gnb_2depth {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 10px;
	background: rgba(255 255 255 / 80%);
	background: #fff;
    box-shadow: 0px 2px 7px rgba(147, 147, 147, 0.1);
}
.zn_header .bot .gnb_2depth li {
	padding: 12px 0;
	text-align: center;
}
.zn_header .bot .gnb_2depth a {
	font-size: 16px;
}
.zn_header .bot .user_fav {
	padding: 13px 0;
}
.zn_header .bot .bot_inner .icon_btn button {
    width: 34px;
    height: 34px;
    position: relative;
    display: block;
    text-indent: -9999px;
}
.zn_header .bot .bot_inner .icon_btn ~ .icon_btn {
    margin-left: 16px;
}
.zn_header .bot .bot_inner .icon_btn .wish {
    background: url("../../images/ecomall/wish-icon.svg?ver=1") no-repeat center;
}
.zn_header .bot .bot_inner .icon_btn .my {
    background: url("../../images/ecomall/my-icon.svg?ver=1") no-repeat center;
}
.zn_header .bot .bot_inner .icon_btn .cart {
	background: url("../../images/ecomall/cart-icon.svg?ver=1") no-repeat center;
}

/* zero_container */
.zero_container {
    /* padding-top: 199.16px; */
    min-height: calc( 100% - 388px );
}

/* FOOTER */
.footer_wrap {
    color: #fff;
    font-family:"inter";
    font-size: 10px;
    line-height: 1.6;
    background-color: #263238;
}
.footer_wrap a {
    color: #fff;
    cursor: pointer;
}
.footer_wrap .inner {
    padding: 63px 83px;
}

.footer_wrap .inner > div {
    float: left;
}
.footer_wrap .inner::after {
    content: '';
    display: block;
    clear: both;
}
.footer_wrap .intro_unit {
    margin-right: 178px;
}
.footer_wrap .logo {
    display: block;
    width: 204px;
}
.footer_wrap .logo img {
    display: block;
    width: 100%;
}
.footer_wrap .abt_zn {
    padding-left: 87px;
}
.footer_wrap .abt_zn span {
    display: block;
    font-weight: 600;
}
.footer_wrap .abt_zn span + span {
    margin-top: 16px; 
}
.footer_wrap .social_wrap {
    display: flex;
    margin-top: 88px;
}
.footer_wrap .social_wrap li {
    height: 22px;
    margin-right: 24px;
}
.footer_wrap .social_wrap li:last-child {
    margin-right: 0;
}
.footer_wrap .social_wrap li:nth-child(1) {
    width: 12px;
}
.footer_wrap .social_wrap li:nth-child(2) {
    width: 18px;
}
.footer_wrap .social_wrap li:nth-child(3) {
    width: 17px;
    height: 23px;
}
.footer_wrap .social_wrap a {
    display: block;
    height: 100%;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
}
.footer_wrap .social_wrap li:nth-child(1) a {
    background-image: url(../../images/common/ico_facebook.png);
}
.footer_wrap .social_wrap li:nth-child(2) a {
    background-image: url(../../images/common/ico_twitter.png);
}
.footer_wrap .social_wrap li:nth-child(3) a {
    background-image: url(../../images/common/ico_insta.png);
}
.footer_wrap .cs_unit {
    display: flex;
    margin-top: 31px;
    margin-right: 289px;
}
.footer_wrap .cs_info {
    margin-right: 95px;
}
.footer_wrap .cs_info:last-child {
    margin-right: 0;
}
.footer_wrap .cs_info .tit {
    margin-bottom: 39px;
    line-height: 16px;
    font-size: 15px;
    font-weight: 600;
}
.footer_wrap .cs_info a {
    font-weight: 600;
}
.footer_wrap .cs_info a:hover {
	border-bottom: 1px solid #fff;	
}
.footer_wrap .contact_unit div {
    margin-top: 42px;
    margin-bottom: 40px;
}
.footer_wrap .contact_unit div span:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
}
.footer_wrap .contact_unit div span:nth-child(2) {
    font-family: "Jua";
    font-weight: 600;
    font-size: 45px;
    line-height: 1;
}
.footer_wrap .contact_unit p {
    font-size: 15px;
    line-height: 1;
}
.footer_wrap .contact_unit p span{
    font-size: 13px;
}

/* pagination */
.pagination {
	display: flex;
    justify-content: center;
    margin-top: 36px;
}
.pageLeft {
	margin-right: 7px;
}
.pageRight {
	margin-left: 7px;
}
.pagingWrap:after,
.pageLeft:after,
.pageRight:after{
    content: ""; display: block; clear: both;
}
.pagination button + button{
    margin-left: 6px;
}
.pagination button:hover,
.pagination button:active{
    background-color: #f8f8f8;
}
.pagination button:disabled:hover,
.pagination button:disabled:active{
    background-color: #ffffff;
}
.pageLeft{
    display: inline-block;
}
.pageLeft button{
    float: left;
    width: 36px;
    height: 36px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    overflow: hidden;
}
.pageLeft .btnFirst{
    background-image: url("../../images/common/btnFirst.png");
    background-size: 13px 12px;
}
.pageLeft .btnFirst:disabled{
	background-image: url("../../images/common/btnFirstDisabled.png");
    background-size: 13px 12px;
}
.pageLeft .btnPrev{
	background-image: url("../../images/common/btnPrev.png");
    background-size: 7px 12px;
}
.pageLeft .btnPrev:disabled{
	background-image: url("../../images/common/btnPrevDisabled.png");
    background-size: 7px 12px;
}
.pageRight{
    display: inline-block;
}
.pageRight button{
    float: left;
    width: 36px;
    height: 36px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    overflow: hidden;
}
.pageRight .btnNext{
	background-image: url("../../images/common/btnNext.png");
    background-size: 7px 12px;
}
.pageRight .btnNext:disabled{
	background-image: url("../../images/common/btnNextDisabled.png");
    background-size: 7px 12px;
}
.pageRight .btnLast{
	background-image: url("../../images/common/btnLast.png");
    background-size: 13px 12px;
}
.pageRight .btnLast:disabled{
	background-image: url("../../images/common/btnLastDisabled.png");
    background-size: 13px 12px;
}
.pagingWrap{
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}
.pagingWrap li{
    float: left;
    width: 36px;
    height: 36px;
}
.pagingWrap li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 36px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    text-align: center;
    color: #757575;
    background-color: #ffffff;
}
.pagingWrap li.on a,
.pagingWrap li a:hover,
.pagingWrap li a:active{
    font-weight: 800;
    background-color: #f8f8f8;
}
